.home  {
    background-color :lightblue;

}

.note {
    background-color :lightblue;

}

.task{
    background-color: #a0dce8;

}

/* for mutual tags */

.links{
    color:#396adb;
    display :block;
    width :fit-content;
    text-decoration;none;

}


.back.btn{


}
h1{
    color: teal;
    font-family: arial;

}
h2{
    color:real;
    font-family :arial;
}

h3{
     background-color : blue,
     color:white;
     font-size 14px

}